<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owerri Girls Send Email Template</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

        body {
            margin: 0;
        }
        table {
            border-spacing: 0;
        }
        td {
            padding: 0;
        }
        img {
            border: 0;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #FFFBE9;
            padding-bottom: 60px;
        }
        .main {
            width: 100%;
            max-width: 600px;
            background-color: #fff;
            font-family: sans-serif;
            color: #4a4a4a;
            box-shadow: 0 0 25px rgba(0, 0, 0, .15);
            text-align: center;
        }
        .social {
            width: 38px;
        }
        .social-media {
            padding: 12px 0 12px 62px;
        }
        .two-columns {
            font-size: 0;
            text-align: center;
        }
        .two-columns .column {
            width: 100%;
            max-width: 300px;
            display: inline-block;
            vertical-align: top;
        }
        h3 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 28px;
        }
        .button {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            text-decoration: none;
            padding: 12px 20px;
            font-weight: bold;
            border-radius: 5px;
        }
        h4 {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 22px;
        } 
        .three-columns {
            font-size: 0;
            padding: 35px 0 20px;
        }

        .three-columns .column {
            width: 100%;
            max-width: 200px;
            display: inline-block;
            vertical-align: top;
        }
        
        .three-columns .padding {
            padding: 25px;
        }
        
        .three-columns .content {
            font-size: 15px;
            line-height: 20px;
        }
        
        

    </style>
</head>
<body>

    <center class="wrapper">

        <table class="main" width="100%">

<!-- BORDER -->
<tr>
    <td height="8" style="background-color: #000;"></td>
</tr>

<!-- LOGO & SOCIAL MEDIA SECTION -->
    <tr>
        <td style="padding: 14px 0 4px;">
            <table width="100%">

                <tr>
                    <td class="two-columns">
                        <table class="column">
                            <tr>
                                <td style="padding: 0 22px 10px;">
                                    <img src="https://i.ibb.co/t2jDgkJ/logo.png" alt="Owerri Girls" title="OwerriGirls" width="250" />
                                </td>
                            </tr>
                        </table>

                        <table class="column">
                            <tr>
                                <td class="social-media">
                                    <a href="#"><img src="https://i.ibb.co/9ttkyFP/facebook.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/fFjfMN0/twitter.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/1ZS02H9/linkedin.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/KszJfF4/instagram.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/23hK7h6/youtube.png" alt="" class="social" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

<!-- BANNER IMAGE -->
    <tr>
        <td>
            <img src="https://i.ibb.co/VTs98RF/banner.jpg" alt="" width="600" style="max-width: 100%;" />
        </td>
    </tr>

<!-- TITLE, TEXT & BUTTON -->
    <tr>
        <td style="padding: 20px 15px 50px;">
            <table width="100%">

                <tr>
                    <td>
                        <h3>Owerri Girls - <span style="color: #874C62;">2006 Graduates</span></h3>
                        <p style="line-height: 23px; font-size: 15px; padding: 0 0 22px;">Hello <span>{{name}}</span> You got this email because you are a member of the 2006 graduating class of Owerri Girls Secondary school Owerri and you have asked to reset your password. Please use the button below to reset your password</p>
                        <p>This link is valid for 1hr</p>
                        <a href={{link}} class="button">Reset Password</a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

<!-- BORDER -->
<tr>
    <td height="2" style="background-color: #000;"></td>
</tr>

<!-- THREE COLUMN SECTION -->
    <tr>
        <td>
            <table width="100%">

                <tr>
                    <td class="three-columns">

                        <table class="column">
                            <tr>
                                <td class="padding">
                                    <table class="content">
                                        <tr>
                                            <td>
                                                <a href="#"><img src="https://i.ibb.co/DWrGjWP/connect.jpg" alt="" width="150" height="200" /></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="padding: 5px 0 10px;">
                                                <h4>Connect</h4>
                                                <p>The goal is to keep us more connected than ever
                                                     because we believe that we are stronger together. 
                                                     We are already on WhatsApp and we believe that this will
                                                     serve as a fine extension and organized way for us to great
                                                     things done a lot faster.
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>

                        <table class="column">
                            <tr>
                                <td class="padding">
                                    <table class="content">
                                        <tr>
                                            <td>
                                                <a href="#"><img src="https://i.ibb.co/7CQ2W7D/network.png" alt="" width="150" height="200" /></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="padding: 5px 0 10px;">
                                                <h4>Network</h4>
                                                <p> By people networking, you can gain insights that only come from viewing a 
                                                    situation with fresh eyes. Asking for opinions from contacts you trust or 
                                                    admire can help you see things in a new light and overcome roadblocks that you might not have known how to circumvent otherwise
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>

                        <table class="column">
                            <tr>
                                <td class="padding">
                                    <table class="content">
                                        <tr>
                                            <td>
                                                <a href="#"><img src="https://i.ibb.co/m9XcWNr/ideas.jpg" alt="" width="150" height="200" /></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="padding: 5px 0 10px;">
                                                <h4>Share Ideas</h4>
                                                <p>If you have a great idea, don't keep it to yourself. Sharing ideas allows 
                                                    you to broaden your reach with your network of connections. Sharing your ideas 
                                                    and knowledge with others can help them gain an in-depth knowledge that they can
                                                     apply in other work-related tasks.
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>

                    </td>
                </tr>

            </table>
        </td>
    </tr>

<!-- FOOTER SECTION -->
    <tr>
        <td style="background-color: #2b2e33; color: #fff;">
            <table width="100%">

                <tr>
                    <td style="padding: 45px 20px;">
                        <a href="#"><img src="https://i.ibb.co/t2jDgkJ/logo.png" alt=""  width="260" /></a>
                        <p style="padding: 5px 0 3px;">Owerri Girl 2006</p>
                        <a href="#"><img src="https://i.ibb.co/9ttkyFP/facebook.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/fFjfMN0/twitter.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/1ZS02H9/linkedin.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/KszJfF4/instagram.png" alt="" class="social" /></a>
                                    <a href="#"><img src="https://i.ibb.co/23hK7h6/youtube.png" alt="" class="social" /></a>
                        <p style="padding: 10px;">OJI-BULLET</p>
                      
                    </td>
                </tr>

                <tr>
                    <td height="10" style="background-color: #000;"></td>
                </tr>

            </table>
        </td>
    </tr>

        </table>
    </center>
    
</body>
</html>